@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ec9i6p');
  src:  url('../fonts/icomoon.eot?ec9i6p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ec9i6p') format('truetype'),
    url('../fonts/icomoon.woff?ec9i6p') format('woff'),
    url('../fonts/icomoon.svg?ec9i6p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forma-1:before {
  content: "\e901";
  color: #fff;
}
.icon-forma-11:before {
  content: "\e902";
  color: white;
}
.icon-forma-12:before {
  content: "\e903";
  color: #fff;
}
.icon-icon:before {
  content: "\e904";
  color: #fff;
}
.icon-icon2:before {
  content: "\e905";
  color: #fff;
}
.icon-icons:before {
  content: "\e906";
  color: #fff;
}
.icon-z:before {
  content: "\e908";
}
