.blog_button {
  margin: 0 auto;
  display: block;
  background: transparent;
  border: none;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  color: #212121;
  font-family: "Hind", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin-bottom: 20px;
  margin-top: 20px; }
  .blog_button:hover {
    background: #999999; }

.hr_autor {
  width: 100%;
  height: 1px;
  border: 1px solid #eaeaeb;
  margin: 20px 0 20px 0; }

@font-face {
  font-family: 'Hind', sans-serif;
  src: url("../fonts/Hind/Hind-Light.eot");
  src: url("../fonts/Hind/Hind-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Hind/Hind-Light.woff") format("woff"), url("../fonts/Hind/Hind-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Hind', sans-serif;
  src: url("../fonts/Hind/Hind-Bold.eotd");
  src: url("../fonts/Hind/Hind-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Hind/Hind-Bold.woff") format("woff"), url("../fonts/Hind/Hind-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Hind', sans-serif;
  src: url("../fonts/Hind/Hind-Medium.eot");
  src: url("../fonts/Hind/Hind-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Hind/Hind-Medium.woff") format("woff"), url("../fonts/Hind/Hind-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Mrs Saint Delafield', cursive;
  src: url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.eot");
  src: url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.woff") format("woff"), url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/Montserrat/OpenSans-Light.eot");
  src: url("../fonts/Montserrat/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/OpenSans-Light.woff") format("woff"), url("../fonts/Montserrat/OpenSans-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
.header {
  min-height: 550px; }
  .header .header_bg {
    max-height: 300px;
    background-color: #212429; }
    .header .header_bg .nav {
      justify-content: space-between;
      display: flex;
      align-items: center; }
      .header .header_bg .nav .nav-menu {
        position: relative;
        border-left: 1px solid #3c3c3c;
        border-right: 1px solid #3c3c3c;
        padding: 10px 15px; }
        .header .header_bg .nav .nav-menu:hover {
          cursor: pointer;
          background: #999999; }
        .header .header_bg .nav .nav-menu .menu-toggle .menu-toggle-bar1, .header .header_bg .nav .nav-menu .menu-toggle .menu-toggle-bar2, .header .header_bg .nav .nav-menu .menu-toggle .menu-toggle-bar3 {
          width: 30px;
          height: 3px;
          background-color: #FFF;
          margin: 6px 0;
          transition: 0.4s; }
        .header .header_bg .nav .nav-menu .change .menu-toggle-bar1, .header .header_bg .nav .nav-menu .change .menu-toggle-bar2, .header .header_bg .nav .nav-menu .change .menu-toggle-bar3 {
          display: none; }
        .header .header_bg .nav .nav-menu .change .menu-toggle-bar1 {
          display: flex;
          transform: rotate(-45deg) translate(-3px, 4px); }
        .header .header_bg .nav .nav-menu .change .menu-toggle-bar2 {
          opacity: 0; }
        .header .header_bg .nav .nav-menu .change .menu-toggle-bar3 {
          display: flex;
          transform: rotate(45deg) translate(-2px, -3px); }
      .header .header_bg .nav .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 7;
        top: 0;
        left: 0;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        cursor: pointer; }
        .header .header_bg .nav .overlay .closebtn {
          position: absolute;
          top: 5%;
          right: 45px;
          font-size: 30px; }
        .header .header_bg .nav .overlay a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.3s;
          z-index: 555; }
          .header .header_bg .nav .overlay a:hover, .header .header_bg .nav .overlay a:focus {
            color: #f1f1f1;
            text-decoration: underline; }
        .header .header_bg .nav .overlay .main-menu {
          position: relative;
          top: 25%;
          width: 100%;
          text-align: center;
          margin-top: 30px; }
          .header .header_bg .nav .overlay .main-menu li a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
            z-index: 555; }
            .header .header_bg .nav .overlay .main-menu li a:hover, .header .header_bg .nav .overlay .main-menu li a:focus {
              color: #f1f1f1; }
      .header .header_bg .nav .logo {
        margin-left: 15%; }
        .header .header_bg .nav .logo img {
          height: 14px; }
        .header .header_bg .nav .logo .logo-link {
          color: #fefefe;
          font-family: "Hind";
          font-size: 22px;
          font-weight: 400;
          line-height: 29.54px;
          text-transform: uppercase; }
          .header .header_bg .nav .logo .logo-link:hover {
            color: #999999; }
      .header .header_bg .nav .social .social-item {
        display: flex;
        list-style: none; }
        .header .header_bg .nav .social .social-item li a {
          padding: 18px 15px 16px;
          border-left: 1px solid #3c3c3c;
          color: #ffffff; }
          .header .header_bg .nav .social .social-item li a:hover {
            color: #999999; }
        .header .header_bg .nav .social .social-item li:nth-child(5n) a {
          border-right: 1px solid  #3c3c3c; }
  .header .slider_content {
    position: relative;
    height: 500px;
    width: 100%; }
    .header .slider_content .mainpage_slide_list {
      width: 100%;
      height: 500px;
      position: absolute;
      z-index: 4; }
      .header .slider_content .mainpage_slide_list .mainpage_slide_buttons {
        height: 100%;
        position: absolute;
        color: #fff;
        z-index: 2;
        right: 60px;
        font-size: 28px; }
        .header .slider_content .mainpage_slide_list .mainpage_slide_buttons .button-prev {
          position: absolute;
          top: 27%;
          cursor: pointer; }
          .header .slider_content .mainpage_slide_list .mainpage_slide_buttons .button-prev:hover {
            color: #999999; }
        .header .slider_content .mainpage_slide_list .mainpage_slide_buttons .button-next {
          position: absolute;
          top: 70%;
          cursor: pointer; }
          .header .slider_content .mainpage_slide_list .mainpage_slide_buttons .button-next:hover {
            color: #999999; }
      .header .slider_content .mainpage_slide_list .mainpage_slide_pugins {
        position: absolute;
        top: 50%;
        right: 80px; }
        .header .slider_content .mainpage_slide_list .mainpage_slide_pugins ul {
          list-style: none;
          display: block; }
          .header .slider_content .mainpage_slide_list .mainpage_slide_pugins ul li {
            padding-bottom: 12px; }
      .header .slider_content .mainpage_slide_list .buttons-text {
        z-index: 1;
        transform: rotate(270deg);
        color: #fff;
        position: absolute;
        top: 50%;
        right: 0; }
      .header .slider_content .mainpage_slide_list .pug {
        z-index: 5;
        position: absolute;
        top: 50%;
        right: 65px; }
        .header .slider_content .mainpage_slide_list .pug .pugins {
          margin-right: 20px;
          display: block;
          margin-bottom: 2px;
          cursor: pointer;
          z-index: 2;
          padding: 3px;
          margin: 4px;
          border: 1px solid #fff; }
        .header .slider_content .mainpage_slide_list .pug .current_pugin {
          background-color: #999999; }
    .header .slider_content .mainpage_slide_content {
      display: none;
      position: absolute;
      opacity: 0;
      width: 100%; }
      .header .slider_content .mainpage_slide_content img {
        width: 100%;
        height: 500px; }
      .header .slider_content .mainpage_slide_content .mainpage_slide_content_item {
        position: absolute;
        top: 40%;
        margin-left: 100px;
        color: #ffffff; }
        .header .slider_content .mainpage_slide_content .mainpage_slide_content_item P {
          font-family: "Hind", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 3.6px; }
        .header .slider_content .mainpage_slide_content .mainpage_slide_content_item h2 {
          margin-top: 30px;
          font-family: "Hind", sans-serif;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          text-transform: uppercase;
          letter-spacing: 5.6px; }
    .header .slider_content .active {
      display: block;
      opacity: 1; }

.newsletter .newsletter_content {
  width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7; }
  .newsletter .newsletter_content h4 {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 50px 0 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 20%; }
  .newsletter .newsletter_content .newsletter_list {
    width: 80%; }
    .newsletter .newsletter_content .newsletter_list .newsletter_list_item_35 {
      padding: 10px 10px 10px 10px;
      margin-right: 25px;
      width: 35%;
      border: none;
      color: #999999;
      font-family: "Hind", sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    .newsletter .newsletter_content .newsletter_list .newsletter_list_item_30 {
      padding: 13px 10px 11px 10px;
      margin-right: 20px;
      color: #ffffff;
      font-family: "Hind", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      width: 20%;
      border: none;
      background-color: #212121; }
      .newsletter .newsletter_content .newsletter_list .newsletter_list_item_30:hover {
        background-color: #999999; }

.blog {
  margin-top: 70px; }
  .blog .blog_content {
    width: 100%; }
    .blog .blog_content .grid_blog_list .gutter-sizer {
      width: 4%; }
    .blog .blog_content .grid_blog_list .grid-sizer {
      width: 22%; }
    .blog .blog_content .grid_blog_list .grid_blog_item {
      width: 22%;
      background-color: #ffffff;
      margin-bottom: 40px; }
      .blog .blog_content .grid_blog_list .grid_blog_item:hover {
        cursor: pointer;
        box-shadow: 0 3px 26px 4px rgba(112, 112, 112, 0.49);
        border: 1px solid rgba(221, 221, 221, 0.15); }
      .blog .blog_content .grid_blog_list .grid_blog_item .img_blog {
        width: 100%;
        height: 260px;
        background-color: #ccc;
        display: block; }
      .blog .blog_content .grid_blog_list .grid_blog_item .img_blog_white {
        width: 100%;
        height: 200px;
        background-color: #fff;
        display: block; }
      .blog .blog_content .grid_blog_list .grid_blog_item .blog_coment_content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0 15px; }
        .blog .blog_content .grid_blog_list .grid_blog_item .blog_coment_content .blog_coment_content_item .blog_coment_item {
          color: #999999;
          font-family: "Hind", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 1.4px; }
        .blog .blog_content .grid_blog_list .grid_blog_item .blog_coment_content ul {
          display: flex;
          list-style: none; }
          .blog .blog_content .grid_blog_list .grid_blog_item .blog_coment_content ul li a {
            padding: 5px;
            color: #464646;
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 1.4px; }
            .blog .blog_content .grid_blog_list .grid_blog_item .blog_coment_content ul li a:hover {
              color: #ccc; }
      .blog .blog_content .grid_blog_list .grid_blog_item p {
        color: #464646;
        font-family: "Hind", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1.5px;
        text-align: center;
        padding: 20px 20px 0 20px; }
      .blog .blog_content .grid_blog_list .grid_blog_item .hr {
        width: 100%;
        height: 4px;
        border: 3px solid #d7d7d7;
        opacity: 0.2;
        margin-bottom: 20px; }
      .blog .blog_content .grid_blog_list .grid_blog_item .grid_blog_item_content {
        position: relative;
        text-align: center; }
        .blog .blog_content .grid_blog_list .grid_blog_item .grid_blog_item_content img {
          display: block;
          width: 100%; }
        .blog .blog_content .grid_blog_list .grid_blog_item .grid_blog_item_content .icon_blog {
          display: flex;
          width: 43px;
          height: 38px;
          position: absolute;
          top: -20px;
          right: 44%;
          box-shadow: 1px 1px 3px rgba(213, 213, 213, 0.75);
          background-color: #212121;
          justify-content: center;
          align-items: center; }
        .blog .blog_content .grid_blog_list .grid_blog_item .grid_blog_item_content span.type_of_travel {
          color: #999999;
          font-family: "Hind", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          /* Text style for "T, ravelli" */
          letter-spacing: 1.4px;
          padding-top: 40px;
          display: block; }
        .blog .blog_content .grid_blog_list .grid_blog_item .grid_blog_item_content span.date_of_travel {
          color: #999999;
          font-family: "Hind", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 1.4px; }
        .blog .blog_content .grid_blog_list .grid_blog_item .grid_blog_item_content h4 {
          color: #212121;
          font-family: "Montserrat", sans-serif;
          font-size: 15px;
          font-weight: 700;
          line-height: 28px;
          text-transform: uppercase;
          letter-spacing: 0.2px;
          margin: 15px; }
      .blog .blog_content .grid_blog_list .grid_blog_item .blog_music {
        width: 137px;
        height: 137px;
        background-color: #999999;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 30px; }
    .blog .blog_content .grid_blog_list .grid_blog_item_bg {
      background-image: url(../img/lay.png); }
    .blog .blog_content .grid_blog_list .grid_blog_item_bg_black {
      box-shadow: 0 0 0 rgba(232, 232, 232, 0.11);
      border: 1px solid rgba(221, 221, 221, 0.15);
      background-color: #212429; }
      .blog .blog_content .grid_blog_list .grid_blog_item_bg_black p {
        margin-top: 25px;
        color: #ffffff; }
      .blog .blog_content .grid_blog_list .grid_blog_item_bg_black .blog_link {
        text-align: center;
        display: block;
        margin-bottom: 20px; }
      .blog .blog_content .grid_blog_list .grid_blog_item_bg_black .icon_blog_white {
        display: flex;
        width: 43px;
        height: 38px;
        position: absolute;
        top: -20px;
        right: 44%;
        box-shadow: 1px 1px 3px rgba(213, 213, 213, 0.75);
        background-color: #fff;
        justify-content: center;
        align-items: center; }
      .blog .blog_content .grid_blog_list .grid_blog_item_bg_black .autor_text {
        display: block;
        margin: 10px 0 20px 0;
        text-align: center;
        color: #999999;
        font-family: "Hind", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1.4px; }

.footer {
  background-color: #212429; }
  .footer .footer_content {
    display: flex;
    width: 100%;
    padding: 50px 0 50px; }
    .footer .footer_content .about_blog_content_25, .footer .footer_content .tweet_content_25, .footer .footer_content .instagram_content_25, .footer .footer_content .coments_content_25 {
      width: 25%; }
      .footer .footer_content .about_blog_content_25 .hr_footer, .footer .footer_content .tweet_content_25 .hr_footer, .footer .footer_content .instagram_content_25 .hr_footer, .footer .footer_content .coments_content_25 .hr_footer {
        width: 100%;
        height: 4px;
        border: 1px solid #cccccc;
        opacity: 0.4;
        margin: 25px 0 25px; }
      .footer .footer_content .about_blog_content_25 .tweet_post, .footer .footer_content .tweet_content_25 .tweet_post, .footer .footer_content .instagram_content_25 .tweet_post, .footer .footer_content .coments_content_25 .tweet_post {
        color: #f9f9fb;
        font-family: "Hind - Light";
        font-weight: 300;
        letter-spacing: 1.4px;
        margin: 0 0 20px;
        display: block; }
        .footer .footer_content .about_blog_content_25 .tweet_post .fa, .footer .footer_content .tweet_content_25 .tweet_post .fa, .footer .footer_content .instagram_content_25 .tweet_post .fa, .footer .footer_content .coments_content_25 .tweet_post .fa {
          font-weight: 400;
          letter-spacing: 0.17px;
          line-height: 24px;
          color: #f9f9fb; }
          .footer .footer_content .about_blog_content_25 .tweet_post .fa:hover, .footer .footer_content .tweet_content_25 .tweet_post .fa:hover, .footer .footer_content .instagram_content_25 .tweet_post .fa:hover, .footer .footer_content .coments_content_25 .tweet_post .fa:hover {
            color: #999999; }
      .footer .footer_content .about_blog_content_25 h4, .footer .footer_content .tweet_content_25 h4, .footer .footer_content .instagram_content_25 h4, .footer .footer_content .coments_content_25 h4 {
        color: #f9f9fb;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.96px;
        margin-bottom: 40px; }
      .footer .footer_content .about_blog_content_25 p, .footer .footer_content .tweet_content_25 p, .footer .footer_content .instagram_content_25 p, .footer .footer_content .coments_content_25 p {
        color: #f9f9fb;
        font-family: "Hind", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1.5px; }
      .footer .footer_content .about_blog_content_25 .auto_comment, .footer .footer_content .tweet_content_25 .auto_comment, .footer .footer_content .instagram_content_25 .auto_comment, .footer .footer_content .coments_content_25 .auto_comment {
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.4px;
        margin-bottom: 10px;
        display: block; }
    .footer .footer_content .tweet_content_25, .footer .footer_content .instagram_content_25, .footer .footer_content .coments_content_25 {
      padding-left: 30px; }
    .footer .footer_content .about_blog_content_25 img {
      width: 100%; }
    .footer .footer_content .about_blog_content_25 p {
      margin-bottom: 10px; }
    .footer .footer_content .tweet_content_25 p {
      margin: 0 0 20px 20px; }
    .footer .footer_content .instagram_content_25 .instag_list {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      .footer .footer_content .instagram_content_25 .instag_list .inst_item {
        width: 32.33%;
        margin-right: 2px; }
        .footer .footer_content .instagram_content_25 .instag_list .inst_item img {
          height: 101px;
          width: 100%; }

@font-face {
  font-family: 'Hind', sans-serif;
  src: url("../fonts/Hind/Hind-Light.eot");
  src: url("../fonts/Hind/Hind-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Hind/Hind-Light.woff") format("woff"), url("../fonts/Hind/Hind-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Hind', sans-serif;
  src: url("../fonts/Hind/Hind-Bold.eotd");
  src: url("../fonts/Hind/Hind-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Hind/Hind-Bold.woff") format("woff"), url("../fonts/Hind/Hind-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Hind', sans-serif;
  src: url("../fonts/Hind/Hind-Medium.eot");
  src: url("../fonts/Hind/Hind-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Hind/Hind-Medium.woff") format("woff"), url("../fonts/Hind/Hind-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Mrs Saint Delafield', cursive;
  src: url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.eot");
  src: url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.woff") format("woff"), url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/Montserrat/OpenSans-Light.eot");
  src: url("../fonts/Montserrat/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/OpenSans-Light.woff") format("woff"), url("../fonts/Montserrat/OpenSans-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
.blog_button {
  margin: 0 auto;
  display: block;
  background: transparent;
  border: none;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  color: #212121;
  font-family: "Hind", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin-bottom: 20px;
  margin-top: 20px; }
  .blog_button:hover {
    background: #999999; }

.hr_autor {
  width: 100%;
  height: 1px;
  border: 1px solid #eaeaeb;
  margin: 20px 0 20px 0; }

.blog_detail_page {
  width: 100%; }
  .blog_detail_page .blog_detail_page_contet_list {
    width: 100%;
    display: flex; }
    .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 {
      width: 80%;
      margin-right: 30px; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid {
        width: 100%;
        height: auto !important; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item {
          width: 100%;
          position: relative !important; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .img_blog {
            height: 460px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .red_icon_blog {
            top: 0;
            position: absolute;
            background-color: #cc2127;
            right: 0;
            padding: 10px 15px;
            color: #fff; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .grid_blog_item_content span.date_of_user {
            color: #999999;
            font-family: "Hind", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            margin-right: 20px;
            display: inline-block; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .grid_blog_item_content span.date_of_travel {
            display: inline-block; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .grid_blog_item_content .icon_blog {
            right: 48%; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .detail_hr {
            width: 100%;
            height: 1px;
            border: 3px solid #d7d7d7;
            opacity: 0.2; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content {
            padding-bottom: 20px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content img {
              display: inline; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .blog_coment_item {
              display: inline; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .blog_likes_item {
              display: inline;
              margin-left: 30px;
              color: #999999;
              font-weight: 400;
              text-transform: uppercase; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .blog_likes_item .fa:hover {
                color: #464646; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .blog_socila a {
              margin-left: 15px;
              font-size: 20px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content {
              display: flex;
              align-items: center; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating_cof {
                color: #999999;
                font-weight: 400;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: 1.6px; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating {
                font-size: 20px;
                overflow: hidden;
                margin-left: 10px; }
                @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
                  .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating {
                    font-size: 10px;
                    margin-bottom: 10px; } }
                .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating a {
                  color: #999999; }
                  .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating a:hover, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating a:focus {
                    color: #464646;
                    cursor: pointer; }
                  .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating a:hover ~ a, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating a:focus ~ a {
                    color: #464646;
                    cursor: pointer; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating2 {
                float: right;
                direction: rtl; }
                .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .blog_coment_content .rating_content .rating2 a {
                  float: none; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .detail_tag {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 50px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .detail_tag .fa {
              color: #999999;
              margin-right: 20px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item .detail_tag .tags_content {
              color: #999999;
              font-family: "Hind", sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
              text-transform: uppercase;
              letter-spacing: 1.6px;
              display: block; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item:hover {
            cursor: default;
            box-shadow: none;
            border: none; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item p {
            text-align: justify;
            color: #464646;
            font-family: "Hind", sans-serif;
            font-weight: 300;
            letter-spacing: 1.6px;
            line-height: 28px;
            margin-bottom: 45px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item p .text-center {
              font-family: "Hind", sans-serif;
              font-weight: 700;
              text-align: center;
              padding: 20px 80px 20px 80px;
              display: block; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .datail_page_grid .detail_blog_item p .text-bold {
              font-weight: 700;
              padding: 20px 0 20px 0;
              display: block; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons {
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 60px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_prev50, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_next50 {
          width: 49%;
          background-color: #000000;
          padding: 40px 50px;
          color: #ffffff;
          align-items: center; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_prev50:hover, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_next50:hover {
            background-color: #3a3c49; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_prev50 .p_b_t, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_prev50 .n_b_t, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_next50 .p_b_t, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .blog_buttons .blog_button_next50 .n_b_t {
            font-weight: 500;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            margin: 0 20px 0 20px; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog {
        margin-bottom: 50px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content {
          width: 100%; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list {
            width: 100%;
            display: flex;
            margin-bottom: 20px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list .autor_img {
              width: 20%; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list .autor_img img {
                width: 100%;
                height: 100%; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list .autor_info_list {
              width: 80%;
              box-shadow: 0 0 0 rgba(232, 232, 232, 0.11);
              border: 1px solid rgba(221, 221, 221, 0.15);
              background-color: #ffffff;
              padding: 30px 30px 30px 30px; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list .autor_info_list .autor_info_item {
                display: flex;
                justify-content: space-between; }
                .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list .autor_info_list .autor_info_item h3, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list .autor_info_list .autor_info_item .autop-post {
                  color: #212121;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 400;
                  line-height: 24px;
                  text-transform: uppercase;
                  letter-spacing: 1.6px; }
                .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_of_blog_content_list .autor_info_list .autor_info_item p {
                  color: #424242;
                  font-weight: 300;
                  line-height: 28px;
                  letter-spacing: 1.6px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_social {
            width: 100%;
            display: flex;
            justify-content: space-between; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_social a {
              background-color: #fff;
              width: 23%;
              color: #999999; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_social a:hover .fa {
                box-shadow: 0 0 0 rgba(232, 232, 232, 0.11);
                background-color: #212121;
                color: #fff; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .autor_of_blog .autor_of_blog_content .autor_social a .fa {
                color: #464646;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 0.22px;
                padding: 20px 30px 20px 30px;
                margin-right: 40px; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts {
        width: 100%;
        background-color: #fff;
        margin-bottom: 50px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_cont {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 30px;
          position: relative; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_cont h2 {
            color: #212121;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            letter-spacing: 1.2px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_cont .recomend_posts_button {
            position: absolute;
            right: 30px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_cont .recomend_posts_button a .fa {
              font-size: 20px;
              background-color: #000;
              padding: 5px 10px 5px 10px;
              color: #999999; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_cont .recomend_posts_button a .fa:hover {
                background-color: #3a3c49; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_list {
          width: 100%;
          display: flex; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_list .recomend_posts_item {
            width: 33.33%;
            padding: 0 30px 30px 30px;
            text-align: center; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_list .recomend_posts_item img {
              width: 100%;
              margin-bottom: 20px; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_content_80 .recomend_posts .recomend_posts_list .recomend_posts_item h3 {
              color: #212121;
              font-family: "Montserrat", sans-serif;
              font-size: 14px;
              font-weight: 700;
              line-height: 22px;
              text-transform: uppercase;
              letter-spacing: 1.6px; }
    .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 {
      width: 20%;
      background-color: #ffffff;
      height: 100%;
      padding: 40px 30px 40px 30px; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .blog_search {
        display: flex;
        width: 100%;
        margin-bottom: 40px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .blog_search input {
          width: 80%;
          border: none;
          background: #f9f9fb;
          padding: 10px;
          color: #212121;
          font-size: 14px;
          font-weight: 300;
          line-height: 28px;
          text-transform: uppercase;
          letter-spacing: 1.5px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .blog_search .but_search {
          width: 20%;
          background-color: #212121;
          color: #fff;
          font-size: 15px;
          padding: 16px 13px 15px 13px;
          text-align: center; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .blog_search .but_search:hover {
            background-color: #464646; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_banner {
        width: 100%;
        position: relative;
        height: 500px;
        margin-bottom: 40px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_banner img {
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 0.6; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_banner .side_bar_banner_bg {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          right: 0;
          opacity: 0.3;
          background: #000; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .small_banner {
        height: 150px; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_category {
        width: 100%; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_category h3 {
          text-align: center;
          margin: 0 0 20px 0;
          color: #212121;
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          text-transform: uppercase;
          letter-spacing: 1.2px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_category .side_bar_hr {
          width: 100%;
          border-bottom: 1px solid #f7f7f7;
          margin-bottom: 20px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_category .blog_category {
          width: 100%;
          list-style: none;
          margin-bottom: 40px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_category .blog_category li {
            width: 100%; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_category .blog_category li a {
              display: block;
              width: 100%;
              color: #212121;
              font-family: "Hind", sans-serif;
              font-size: 16px;
              font-weight: 500;
              line-height: 50px;
              text-transform: uppercase;
              letter-spacing: 1.6px;
              border-bottom: 1px solid #f7f7f7; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_category .blog_category li a em {
                float: right; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts h3 {
        text-align: center;
        margin: 0 0 20px 0;
        color: #212121;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 1.2px; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .side_bar_hr {
        border-bottom: 1px solid #f7f7f7;
        margin: 20px 0 20px 0; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list {
        width: 100%;
        display: flex; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list .autor_img {
          width: 30%; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list .autor_img img {
            width: 100%;
            height: 100%; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list .autor_info_list {
          width: 70%;
          margin-left: 10px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list .autor_info_list h4 {
            color: #212121;
            font-family: "Montserrat", sans-serif;
            font-size: 11px;
            font-weight: 600;
            line-height: 15px;
            text-transform: uppercase;
            letter-spacing: 0.6px;
            margin-bottom: 5px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list .autor_info_list .autor_info_item .date_of_travel {
            margin-right: 10px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list .autor_info_list .autor_info_item .date_of_travel, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_posts .autor_of_blog_content_list .autor_info_list .autor_info_item .autor_likes {
            display: inline-block;
            color: #999999;
            font-family: "Hind", sans-serif;
            font-size: 11px;
            font-weight: 300;
            line-height: 15px;
            text-transform: uppercase;
            letter-spacing: 0.3px; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_social {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_social .fa {
          color: #464646;
          font-size: 21px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 2.1px; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_social .fa:hover {
            color: #212121; }
      .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider {
        width: 100%;
        position: relative; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_slider_content {
          position: relative;
          height: 200px;
          width: 100%; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_slider_content .bar-slide {
            display: none;
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_slider_content .bar-slide img {
              width: 100%;
              height: 100%; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_slider_content .active_bar {
            display: block;
            opacity: 1; }
        .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons {
          position: absolute;
          width: 100%;
          top: 47%; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_next, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_prev {
            position: absolute; }
            .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_next .fa, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_prev .fa {
              background: #464646;
              color: #f3f3f3;
              padding: 5px 10px; }
              .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_next .fa:hover, .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_prev .fa:hover {
                cursor: pointer;
                background: #000000; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_next {
            right: 0; }
          .blog_detail_page .blog_detail_page_contet_list .blog_detail_page_side_bar_20 .side_bar_slider .side_bar_buttons .bar_prev {
            left: 0; }

body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  background-color: #f9f9fb; }
  body .wrapper {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; }

/*# sourceMappingURL=style.css.map */
