.blog_detail_page {
    width: 100%;
   .blog_detail_page_contet_list {
       width: 100%;
       display: flex;
     .blog_detail_page_content_80 {
         width: 80%;
         margin-right: 30px;
         .datail_page_grid {
             width: 100%;
             height: auto!important;
             .detail_blog_item {
                 width: 100%;
                 position: relative!important;
                 .img_blog {
                     height: 460px;
                 }
                 .red_icon_blog {
                     top: 0;
                     position: absolute;
                     background-color: #cc2127;
                     right: 0;
                     padding: 10px 15px;
                     color: #fff;
                 }
                 .grid_blog_item_content {
                     span.date_of_user {
                         color: #999999;
                         font-family: "Hind", sans-serif;
                         font-size: 14px;
                         font-weight: 400;
                         line-height: 24px;
                         text-transform: uppercase;
                         letter-spacing: 1.4px;
                         margin-right: 20px;
                         display: inline-block;
                     }
                     span.date_of_travel {
                         display: inline-block;
                     }
                     .icon_blog {
                         right: 48%;
                     }
                 }
                 .detail_hr {
                     width: 100%;
                     height: 1px;
                     border: 3px solid #d7d7d7;
                     opacity: 0.2;
                 }
                 .blog_coment_content {
                     padding-bottom: 20px;
                     img {
                         display: inline;
                     }
                     .blog_coment_item {
                         display: inline;
                     }
                     .blog_likes_item {
                         display: inline;
                         margin-left: 30px;
                         color: #999999;
                         font-weight: 400;
                         text-transform: uppercase;
                         .fa {
                             &:hover{
                                 color: #464646;
                             }
                         }
                     }
                     .blog_socila {
                         a {
                             margin-left: 15px;
                             font-size: 20px;
                         }
                     }
                     .rating_content {
                         display: flex;
                         align-items: center;
                         .rating_cof {
                             color: #999999;
                             font-weight: 400;
                             line-height: 28px;
                             text-transform: uppercase;
                             letter-spacing: 1.6px;
                         }
                         .rating {
                             font-size: 20px;
                             overflow:hidden;
                             margin-left: 10px;
                             @include phone-v {
                                 font-size: 10px;
                                 margin-bottom: 10px;
                             }
                             a {
                                 color: #999999;
                                 &:hover, &:focus {
                                     color: #464646;
                                     cursor: pointer;
                                 }
                                 &:hover ~ a, &:focus ~ a {
                                     color: #464646;
                                     cursor: pointer;
                                 }
                             }
                         }
                         .rating2 {
                             float: right;
                             direction: rtl;
                             a {
                                 float:none
                             }
                         }
                     }
                 }
                 .detail_tag {
                     text-align: center;
                     align-items: center;
                     display: flex;
                     justify-content: center;
                     margin-bottom: 50px;
                     .fa {
                         color: #999999;
                         margin-right: 20px;

                     }
                     .tags_content {
                         color: #999999;
                         font-family:"Hind", sans-serif;
                         font-size: 16px;
                         font-weight: 400;
                         line-height: 28px;
                         text-transform: uppercase;
                         letter-spacing: 1.6px;
                         display: block;
                     }
                 }
                 &:hover {
                     cursor: default;
                     box-shadow: none;
                     border: none;
                 }
                 p {
                     text-align: justify;
                     color: #464646;
                     font-family: "Hind", sans-serif;
                     font-weight: 300;
                     letter-spacing: 1.6px;
                     line-height: 28px;
                     margin-bottom: 45px;
                     .text-center {
                         font-family: "Hind", sans-serif;
                         font-weight: 700;
                         text-align: center;
                         padding: 20px 80px 20px 80px;
                         display: block;
                     }
                     .text-bold {
                         font-weight: 700;
                         padding: 20px 0 20px 0;
                         display: block;
                     }
                 }
             }
         }
         .blog_buttons {
             display: flex;
             text-align: center;
             width: 100%;
             justify-content: space-between;
             margin-bottom: 60px;
             .blog_button_prev50, .blog_button_next50 {
                 width: 49%;
                 background-color: #000000;
                 padding: 40px 50px;
                 color: #ffffff;
                 align-items: center;

                 &:hover {
                     background-color: #3a3c49;
                 }
                 .p_b_t, .n_b_t {
                     font-weight: 500;
                     line-height: 24px;
                     text-transform: uppercase;
                     letter-spacing: 2.8px;
                     margin: 0 20px 0 20px;
                 }
             }
         }
         .autor_of_blog {
             margin-bottom: 50px;
             .autor_of_blog_content {
                 width: 100%;
                 .autor_of_blog_content_list {
                     width: 100%;
                     display: flex;
                     margin-bottom: 20px;
                     .autor_img {
                         width: 20%;
                         img {
                             width: 100%;
                             height: 100%;
                         }
                     }
                     .autor_info_list {
                         width: 80%;
                         box-shadow: 0 0 0 rgba(232, 232, 232, 0.11);
                         border: 1px solid rgba(221, 221, 221, 0.15);
                         background-color: #ffffff;
                         padding: 30px 30px 30px 30px;
                         .autor_info_item {
                             display: flex;
                             justify-content: space-between;
                             h3, .autop-post {
                                 color: #212121;
                                 font-family: "Montserrat", sans-serif;
                                 font-weight: 400;
                                 line-height: 24px;
                                 text-transform: uppercase;
                                 letter-spacing: 1.6px;
                             }
                             p {
                                 color: #424242;
                                 font-weight: 300;
                                 line-height: 28px;
                                 letter-spacing: 1.6px;
                             }
                         }
                     }
                 }
                 .autor_social {
                     width: 100%;
                     display: flex;
                     justify-content: space-between;
                     a {
                         background-color: #fff;
                         width: 23%;
                         color: #999999;
                         &:hover .fa {
                             box-shadow: 0 0 0 rgba(232, 232, 232, 0.11);
                             background-color: #212121;
                             color: #fff;
                         }
                         .fa {
                             color: #464646;
                             font-size: 18px;
                             font-weight: 400;
                             line-height: 24px;
                             text-transform: uppercase;
                             letter-spacing: 0.22px;
                             padding: 20px 30px 20px 30px;
                             margin-right: 40px;
                         }
                     }
                 }
             }
         }
         .recomend_posts {
             width: 100%;
             background-color: #fff;
             margin-bottom: 50px;
             .recomend_posts_cont {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 padding: 30px;
                 position: relative;
                 h2 {
                     color: #212121;
                     font-family: "Montserrat", sans-serif;
                     font-size: 20px;
                     font-weight: 700;
                     line-height: 28px;
                     text-transform: uppercase;
                     letter-spacing: 1.2px;
                 }
                 .recomend_posts_button {
                     position: absolute;
                     right: 30px;
                     a {
                         .fa {
                             font-size: 20px;
                             background-color: #000;
                             padding: 5px 10px 5px 10px;
                             color: #999999;;
                             &:hover {
                                 background-color: #3a3c49;
                             }
                         }
                     }
                 }
             }
             .recomend_posts_list {
                 width: 100%;
                 display: flex;
                 .recomend_posts_item {
                     width: 33.33%;
                     padding: 0 30px 30px 30px;
                     text-align: center;
                     img {
                         width: 100%;
                         margin-bottom: 20px;
                     }
                     h3 {
                         color: #212121;
                         font-family: "Montserrat", sans-serif;
                         font-size: 14px;
                         font-weight: 700;
                         line-height: 22px;
                         text-transform: uppercase;
                         letter-spacing: 1.6px;
                     }
                 }
             }
         }
     }
     .blog_detail_page_side_bar_20 {
         width: 20%;
         background-color: #ffffff;
         height: 100%;
         padding: 40px 30px 40px 30px;
         .blog_search {
            display: flex;
            width: 100%;
            margin-bottom: 40px;
             input {
                width: 80%;
                border: none;
                background: #f9f9fb;
                padding: 10px;
                color: #212121;
                font-size: 14px;
                font-weight: 300;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
             }
             .but_search {
                width: 20%;
                background-color: #212121;
                color: #fff;
                font-size: 15px;
                padding: 16px 13px 15px 13px;
                text-align: center;
                &:hover {
                    background-color: #464646;
                }
             }
         }
         .side_bar_banner {
             width: 100%;
            position: relative;
            height: 500px;
            margin-bottom: 40px;
             img {
                 position: absolute;
                 left: 0;
                 right: 0;
                 width: 100%;
                 height: 100%;
                 opacity: 0.6;
             }
             .side_bar_banner_bg {
                 width: 100%;
                 height: 100%;
                 position: absolute;
                 left: 0;
                 right: 0;
                 opacity: 0.3;
                 background: #000;
             }
         }
         .small_banner {
             height:150px;
         }
         .side_bar_category {
             width: 100%;
             h3 {
                text-align: center;
                margin: 0 0 20px 0;
                color: #212121;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: 1.2px;
             }
             .side_bar_hr {
                 width: 100%;
                border-bottom: 1px solid rgba(247, 247, 247, 1);
                margin-bottom: 20px;
             }
             .blog_category {
                 width: 100%;
                 list-style: none;
                 margin-bottom: 40px;
                 li {
                     width: 100%;
                     a {
                         display: block;
                         width: 100%;
                         color: #212121;
                        font-family: "Hind", sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 50px;
                        text-transform: uppercase;
                        letter-spacing: 1.6px;
                        border-bottom: 1px solid rgba(247, 247, 247, 1);
                        em {
                            float: right;
                        }
                     }
                 }
             }
         }
         .side_bar_posts {
             h3 {
                 text-align: center;
                 margin: 0 0 20px 0;
                 color: #212121;
                 font-family: "Montserrat", sans-serif;
                 font-size: 20px;
                 font-weight: 700;
                 line-height: 28px;
                 text-transform: uppercase;
                 letter-spacing: 1.2px;
             }
             .side_bar_hr {
                border-bottom: 1px solid rgba(247, 247, 247, 1);
                margin: 20px 0 20px 0;
             }
             .autor_of_blog_content_list {
                 width: 100%;
                 display: flex;
                 .autor_img {
                     width: 30%;
                     img {
                         width: 100%;
                         height: 100%;
                     }
                 }
                 .autor_info_list {
                     width: 70%;
                     margin-left: 10px;
                     h4 {
                         color: #212121;
                         font-family: "Montserrat", sans-serif;
                         font-size: 11px;
                         font-weight: 600;
                         line-height: 15px;
                         text-transform: uppercase;
                         letter-spacing: 0.6px;
                         margin-bottom: 5px;
                     }
                     .autor_info_item {
                         .date_of_travel {
                             margin-right: 10px;
                         }
                         .date_of_travel, .autor_likes {
                             display: inline-block;
                             color: #999999;
                            font-family: "Hind", sans-serif;
                            font-size: 11px;
                            font-weight: 300;
                            line-height: 15px;
                            text-transform: uppercase;
                            letter-spacing: 0.3px;
                         }
                     }
                 }
             }
         }
         .side_bar_social {
             width: 100%;
             display: flex;
             justify-content: space-between;
             margin-bottom: 40px;
             .fa {
                color: #464646;
                font-size: 21px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 2.1px;
                &:hover {
                    color: #212121;
                }
             }
         }
         .side_bar_slider {
             width: 100%;
             position: relative;
             .side_bar_slider_content {
                 position: relative;
                 height: 200px;
                 width: 100%;
                .bar-slide {
                    display: none;
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .active_bar {
                    display: block;
                    opacity: 1;
                }
             }
             .side_bar_buttons {
                 position: absolute;
                 width: 100%;
                 top: 47%;
                 .bar_next, .bar_prev {
                     position: absolute;
                     .fa {
                         background: #464646;
                         color: #f3f3f3;
                         padding: 5px 10px;
                         &:hover {
                             cursor: pointer;
                             background: #000000;
                         }
                     }
                 }
                 .bar_next {
                     right: 0;
                 }
                 .bar_prev  {
                     left: 0;
                 }
             }
         }
     }
 }
}
