@font-face {
     font-family: 'Hind', sans-serif;
     src:url("../fonts/Hind/Hind-Light.eot");
     src:url("../fonts/Hind/Hind-Light.eot?#iefix")format("embedded-opentype"),
     url("../fonts/Hind/Hind-Light.woff")format("woff"),
     url("../fonts/Hind/Hind-Light.ttf")format("truetype");
     font-weight: 300;
}
@font-face {
     font-family: 'Hind', sans-serif;
     src:url("../fonts/Hind/Hind-Bold.eotd");
     src:url("../fonts/Hind/Hind-Bold.eot?#iefix")format("embedded-opentype"),
     url("../fonts/Hind/Hind-Bold.woff")format("woff"),
     url("../fonts/Hind/Hind-Bold.ttf")format("truetype");
     font-weight: bold;
}
@font-face {
     font-family: 'Hind', sans-serif;
     src:url("../fonts/Hind/Hind-Medium.eot");
     src:url("../fonts/Hind/Hind-Medium.eot?#iefix")format("embedded-opentype"),
     url("../fonts/Hind/Hind-Medium.woff")format("woff"),
     url("../fonts/Hind/Hind-Medium.ttf")format("truetype");
     font-weight:500;
}
@font-face {
    font-family: 'Mrs Saint Delafield', cursive;
     src:url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.eot");
     src:url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.eot?#iefix")format("embedded-opentype"),
     url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.woff")format("woff"),
     url("../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf")format("truetype");
     font-weight: normal;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
     src:url("../fonts/Montserrat/Montserrat-Bold.eot");
     src:url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
     url("../fonts/Montserrat/Montserrat-Bold.woff")format("woff"),
     url("../fonts/Montserrat/Montserrat-Bold.ttf")format("truetype");
     font-weight: bold;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
     src:url("../fonts/Montserrat/OpenSans-Light.eot");
     src:url("../fonts/Montserrat/OpenSans-Light.eot?#iefix")format("embedded-opentype"),
     url("../fonts/Montserrat/OpenSans-Light.woff")format("woff"),
     url("../fonts/Montserrat/OpenSans-Light.ttf")format("truetype");
     font-weight: 300;
}
@font-face {
    font-family: 'Roboto', sans-serif;
     src:url("../fonts/Roboto/Roboto-Bold.eot");
     src:url("../fonts/Roboto/Roboto-Bold.eot?#iefix")format("embedded-opentype"),
     url("../fonts/Roboto/Roboto-Bold.woff")format("woff"),
     url("../fonts/Roboto/Roboto-Bold.ttf")format("truetype");
     font-weight: bold;
}
