@import "_variables.scss";
@import "_fonts.scss";
.header {
    min-height: 550px;
    .header_bg {
        max-height: 300px;
        background-color: #212429;
        .nav {
            justify-content: space-between;
            display: flex;
            align-items: center;
            .nav-menu {
                position: relative;
                border-left: 1px solid #3c3c3c;
                border-right: 1px solid #3c3c3c;
                padding: 10px 15px;
                &:hover {
                    cursor: pointer;
                    background: #999999;
                }
                .menu-toggle {
                        .menu-toggle-bar1, .menu-toggle-bar2, .menu-toggle-bar3 {
                        width: 30px;
                        height: 3px;
                        background-color: #FFF;
                        margin: 6px 0;
                        transition: 0.4s;
                    }
                }
                .change {
                    .menu-toggle-bar1, .menu-toggle-bar2, .menu-toggle-bar3  {
                        display: none;
                    }
                    .menu-toggle-bar1 {
                        display: flex;
                        transform: rotate(-45deg) translate(-3px, 4px);
                    }
                    .menu-toggle-bar2 {opacity: 0;}
                    .menu-toggle-bar3 {
                        display: flex;
                        transform: rotate(45deg) translate(-2px, -3px);
                    }
                }
            }
                .overlay {
                    height: 100%;
                    width: 100%;
                    display: none;
                    position: fixed;
                    z-index: 7;
                    top: 0;
                    left: 0;
                    background-color: rgb(0,0,0);
                    background-color: rgba(0,0,0, 0.9);
                    overflow-x: hidden;
                    transition: 0.5s;
                    cursor: pointer;
                        .closebtn {
                               position: absolute;
                               top: 5%;
                               right: 45px;
                               font-size: 30px;
                            }
                         a {
                            padding: 8px;
                            text-decoration: none;
                            font-size: 36px;
                            color: #818181;
                            display: block;
                            transition: 0.3s;
                            z-index: 555;
                                &:hover, &:focus {
                                    color: #f1f1f1;
                                    text-decoration: underline;
                                }
                         }
                        .main-menu {
                            position: relative;
                            top: 25%;
                            width: 100%;
                            text-align: center;
                            margin-top: 30px;
                                li {
                                    a {
                                    padding: 8px;
                                    text-decoration: none;
                                    font-size: 36px;
                                    color: #818181;
                                    display: block;
                                    transition: 0.3s;
                                    z-index: 555;
                                        &:hover, &:focus {
                                            color: #f1f1f1;
                                        }
                                    }
                                }
                            }
                        }
            .logo{
                margin-left: 15%;
                img {
                    height: 14px;
                }
                .logo-link {
                    color: #fefefe;
                    font-family: "Hind";
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 29.54px;
                    text-transform: uppercase;
                    &:hover {
                        color: #999999;
                    }
                }
            }
            .social {
                .social-item {
                    display: flex;
                    list-style: none;
                    li {
                        a {
                            padding: 18px 15px 16px;
                            border-left: 1px solid #3c3c3c;
                            color: #ffffff;
                            &:hover {
                                color: #999999;
                            }
                        }
                        &:nth-child(5n){
                            a {
                                border-right: 1px solid  #3c3c3c;
                            }
                        }
                    }
                }
            }
        }
    }
    .slider_content {
        position: relative;
        height: 500px;
        width: 100%;
        .mainpage_slide_list {
            width: 100%;
            height: 500px;
            position: absolute;
            z-index: 4;
            .mainpage_slide_buttons {
                height: 100%;
                position: absolute;
                color: #fff;
                z-index: 2;
                right: 60px;
                font-size: 28px;
                .button-prev {
                    position: absolute;
                    top: 27%;
                    cursor: pointer;
                    &:hover{
                        color: #999999;
                    }
                }
                .button-next {
                    position: absolute;
                    top: 70%;
                    cursor: pointer;
                    &:hover{
                        color: #999999;
                    }
                }

            }
            .mainpage_slide_pugins {
                position: absolute;
                top: 50%;
                right: 80px;
                ul {
                    list-style: none;
                    display: block;
                    li {
                        padding-bottom: 12px;

                    }
                }
            }
            .buttons-text {
                z-index: 1;
                transform: rotate(270deg);
                color: #fff;
                position: absolute;
                top: 50%;
                right: 0;
            }
            .pug {
                z-index: 5;
                position: absolute;
                top: 50%;
                right: 65px;
                .pugins {
                    margin-right: 20px;
                    display: block;
                    margin-bottom: 2px;
                    cursor: pointer;
                    z-index: 2;
                    padding: 3px;
                    margin: 4px;
                    border: 1px solid #fff;
                }
                .current_pugin {
                    background-color: #999999;
                }
            }
        }
        .mainpage_slide_content {
            display: none;
            position: absolute;
            opacity: 0;
            width: 100%;
            img {
                width: 100%;
                height: 500px;
            }
            .mainpage_slide_content_item {
                position: absolute;
                top: 40%;
                margin-left: 100px;
                color: #ffffff;
                P {
                    font-family: "Hind", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 3.6px;
                }
                h2 {
                    margin-top: 30px;
                   font-family: "Hind", sans-serif;
                   font-size: 40px;
                   font-weight: 700;
                   line-height: 50px;
                   text-transform: uppercase;
                   letter-spacing: 5.6px;
                }
            }
        }
        .active {
            display: block;
            opacity: 1;
        }
    }

}
.newsletter {
    .newsletter_content  {
        width: 100%;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f7f7f7;
        h4 {
            color: #212121;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            margin: 0 50px 0 30px;
            text-transform: uppercase;
            letter-spacing: 4px;
            width: 20%;
        }
        .newsletter_list {

            width: 80%;
            .newsletter_list_item_35 {
                padding: 10px 10px 10px 10px;
                margin-right: 25px;
                width: 35%;
                border: none;
                color: #999999;
                font-family: "Hind", sans-serif;
                font-size: 15px;
                font-weight: 300;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            .newsletter_list_item_30 {
                padding: 13px 10px 11px 10px;
                margin-right: 20px;
                color: #ffffff;
                font-family: "Hind", sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 2.8px;
                width: 20%;
                border: none;
                background-color: #212121;
                &:hover {
                    background-color: #999999;
                }
            }
        }
     }
}
.blog {
    margin-top: 70px;
    .blog_content {
        width: 100%;
        .grid_blog_list {
            .gutter-sizer {
                width: 4%;
            }
            .grid-sizer {
                width:22%
            }
            .grid_blog_item {
                width:22%;
                background-color: #ffffff;
                margin-bottom: 40px;
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 3px 26px 4px rgba(112, 112, 112, 0.49);
                    border: 1px solid rgba(221, 221, 221, 0.15);
                }
                .img_blog {
                    width:  100%;
                    height:  260px;
                    background-color: #ccc;
                    display:  block;
                }
                .img_blog_white {
                    width:  100%;
                    height:  200px;
                    background-color: #fff;
                    display:  block;
                }
                .blog_coment_content {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 10px 0 15px;
                    .blog_coment_content_item {
                        .blog_coment_item {
                            color: #999999;
                            font-family: "Hind", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            text-transform: uppercase;
                            letter-spacing: 1.4px;
                        }
                    }
                    ul {
                        display: flex;
                        list-style: none;
                        li {
                            a{
                                padding: 5px;
                                color: #464646;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 28px;
                                letter-spacing: 1.4px;
                                &:hover {
                                    color: #ccc;
                                }
                            }
                        }
                    }
                }
            p {
                    color: #464646;
                    font-family: "Hind", sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 28px;
                    letter-spacing: 1.5px;
                    text-align: center;
                    padding: 20px 20px 0 20px;
                }
                .hr {
                    width: 100%;
                    height: 4px;
                    border: 3px solid #d7d7d7;
                    opacity: 0.2;
                    margin-bottom: 20px;
                }
                .grid_blog_item_content {
                    position: relative;
                    text-align: center;
                    img {
                        display: block;
                        width: 100%;
                    }
                    .icon_blog {
                        display: flex;
                            width: 43px;
                            height: 38px;
                            position: absolute;
                            top: -20px;
                            right: 44%;
                            box-shadow: 1px 1px 3px rgba(213, 213, 213, 0.75);
                            background-color: #212121;
                            justify-content: center;
                            align-items: center;
                    }

                    span.type_of_travel {
                        color: #999999;
                        font-family: "Hind", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        text-transform: uppercase;
                        /* Text style for "T, ravelli" */
                        letter-spacing: 1.4px;
                        padding-top: 40px;
                        display: block;
                    }
                    span.date_of_travel {
                        color: #999999;
                        font-family: "Hind", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        text-transform: uppercase;
                        letter-spacing: 1.4px;
                    }
                        h4 {
                            color: #212121;
                            font-family: "Montserrat", sans-serif;
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 28px;
                            text-transform: uppercase;
                            letter-spacing: 0.2px;
                            margin: 15px;
                        }
                }
                .blog_music {
                    width: 137px;
                    height: 137px;
                    background-color: #999999;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto;
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
            }
            .grid_blog_item_bg {
                background-image: url(../img/lay.png);
            }
            .grid_blog_item_bg_black {
                box-shadow: 0 0 0 rgba(232, 232, 232, 0.11);
                border: 1px solid rgba(221, 221, 221, 0.15);
                background-color: #212429;
                p {
                    margin-top: 25px;
                    color: #ffffff;
                }
                .blog_link {
                    text-align: center;
                    display: block;
                    margin-bottom: 20px;
                }
                .icon_blog_white {
                    display: flex;
                        width: 43px;
                        height: 38px;
                        position: absolute;
                        top: -20px;
                        right: 44%;
                        box-shadow: 1px 1px 3px rgba(213, 213, 213, 0.75);
                        background-color: #fff;
                        justify-content: center;
                        align-items: center;
                }
                .autor_text {
                    display: block;
                    margin: 10px 0 20px 0;
                    text-align: center;
                    color: #999999;
                    font-family: "Hind", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    text-transform: uppercase;
                    letter-spacing: 1.4px;
                }
            }
        }
    }
}
.footer {
    background-color: #212429;
    .footer_content {
        display: flex;
        width: 100%;
        padding: 50px 0 50px;
        .about_blog_content_25, .tweet_content_25, .instagram_content_25, .coments_content_25 {
            width: 25%;
            .hr_footer {
                width: 100%;
                height: 4px;
                border: 1px solid #cccccc;
                opacity: 0.4;
                margin: 25px 0 25px;
            }
            .tweet_post{
                color: #f9f9fb;
                font-family: "Hind - Light";
                font-weight: 300;
                letter-spacing: 1.4px;
                margin: 0 0 20px;
                display: block;
                .fa {
                    font-weight: 400;
                    letter-spacing: 0.17px;
                    line-height: 24px;
                    color: #f9f9fb;
                    &:hover {
                        color: #999999;
                    }
                }
            }
            h4 {
                color: #f9f9fb;
                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: 0.96px;
                margin-bottom: 40px;
            }
            p {
                color: #f9f9fb;
                font-family: "Hind", sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: 1.5px;
            }
            .auto_comment {
                color: #ffffff;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1.4px;
                margin-bottom: 10px;
                display: block;
            }
        }
        .tweet_content_25, .instagram_content_25, .coments_content_25 {
            padding-left:  30px;
        }
        .about_blog_content_25 {
            img {
                width: 100%;
            }
            p {
                margin-bottom: 10px;
            }
        }
        .tweet_content_25 {
            p {
                margin: 0 0 20px 20px;
            }
        }
        .instagram_content_25 {
            .instag_list {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .inst_item {
                    width: 32.33%;
                    margin-right: 2px;
                    img {
                        height: 101px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
