@mixin laptop {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}
@mixin medium-lap {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin medium {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin ipad {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin phone-v {
    @media only screen and (-webkit-min-device-pixel-ratio : 1.5) {
        @content;
    }
}
@mixin phone {
    @media only screen and (max-width: 480px) {
        @content;
    }
}
