$red: red;
.blog_button {
    margin: 0 auto;
    display: block;
    background: transparent;
    border: none;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    color: #212121;
    font-family: "Hind", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-bottom: 20px;
    margin-top: 20px;
    &:hover {
        background: #999999;
    }
}
.hr_autor {
    width: 100%;
    height: 1px;
    border: 1px solid #eaeaeb;
    margin: 20px 0 20px 0;
}
