@import "_media.scss";
@import "_mainpage.scss";
@import "_fonts.scss";
@import "_variables.scss";
@import "_detail_page.scss";

body {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    background-color: #f9f9fb;
    .wrapper {
        max-width: 1560px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}
